.answerchoice {
	border: 1px solid gold;
  border-radius: 5%;
	width: 40%;
	color: navy;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: skyblue;
  cursor: pointer;

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
  position: relative;
}

body {
  background-image: url("../images/avengers.jpg");
  background-position: 100% 39%;
  background-size: cover;
  font-family: 'Karla', sans-serif;
}

h1 {
  text-align: center;
  color:darkgrey;
  font-weight: 1000;
  padding: 20px;
  font-size: 100px;
  font-family: 'DM sherif diaply, serif';
  font-style: italic;
}

p {
  margin: 10px;
  font-weight: bold;
  color: red;
  font-size: 20px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
 background-color: beige;
opacity: 0.9;
  color: black;
  margin: 10px auto;
  border: 10px solid black;
  height: 500px;
  width: 60%;
  text-align: center;
}

.btn {
background-color: red;   
  position: relative;
  bottom: -150px;
  color:gold;  
  padding: 50px 50px;
  )
}